AuthUserFile /home/https://github.com/kichigai-web-ichiran/www.kichigai-web-ichiran.com/blob/main/.htpasswd/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
<Files ~ "^.(htpasswd|htaccess)$">
deny from all
</Files>
